body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #22272e;
  width: 100vw;
}

h1{
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: rgb(206, 154, 58);
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
ul{
  list-style: none;
  width: 100%;
}

.MuiSvgIcon-root {
  color: rgb(233, 218, 187);
}

nav{
  display: flex;
  gap: 1.5rem;
  text-decoration: underline;
}
